* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("./screen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box-main {
    width: 80%;
    height: 85vh;
    background: wheat;
    border-radius: 30px;
    display: flex;
    opacity: 0.93;
    box-shadow: 9px 11px 10px 6px black;
}
div.box-image {
    height: inherit;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1200px;
    background-image: url('./ngoc.jpg');
    background-position: 50% 88%;
}
div.box-content {
    padding: 100px;
    padding-right: 50px;
    color: teal;
}
.box-content h2 {
    font-size: 3em;
}
.box-content h2,
.box-content h3 {
    position: relative;
    width: 350px;
    transform: scaleX(0);
    animation: text 1.5s ease forwards;
    transform-origin: left;
}
.box-content h3 {
    font-size: 1.8;
    margin: 10px 0;
    width: 150px;
}
.box-content h2::before,
.box-content h3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: teal;
    transform: scaleX(0);
    animation: text1 2s ease forwards;
    transform-origin: right;
}
.box-content h2::before,
.box-content h2 {
    animation-delay: 0.5s;
}

@keyframes text {
    to {
        transform: scaleX(1);
    }
    from {
        transform: scaleX(0);
    }
}
@keyframes text1 {
    to {
        transform: scaleX(0);
    }
    from {
        transform: scaleX(1);
    }
}
.box-main p {
    font-size: 1.1em;
    line-height: 1.5;
}
.box-content p:nth-child(3) {
    animation: textP1 2s ease forwards;
    animation-delay: 2.5s;
    transform-origin: left;
    transform: scaleX(0);
}
.box-content p:nth-child(4) {
    animation: textP1 3.5s ease forwards;
    animation-delay: 4.5s;
    transform-origin: left;
    transform: scaleX(0);
}
.box-content p:nth-child(5) {
    animation: textP1 3.5s ease forwards;
    animation-delay: 8s;
    transform-origin: left;
    transform: scaleX(0);
}
@keyframes textP1 {
    to {
        transform: scaleX(1);
    }
    from {
        transform: scaleX(0);
    }
}
@keyframes textP2 {
    to {
        transform: scaleX(1);
    }
    from {
        transform: scaleX(0);
    }
}
div.box-image {
    animation: anime4 4s ease;
     animation-fill-mode: both;
     animation-delay: 1s;
     opacity: 0.8;
}
@keyframes anime4 {
    to {
        opacity: 1;
    }
    from {
        opacity: 0.8;
    }
}
 img {
     animation: anime3 2s ease;
     animation-fill-mode: both;
     animation-delay: 2s;
     opacity: 0;
     width: 100%;
     height: 100%;
     mix-blend-mode: screen;
 }
 @keyframes anime3 {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}
